<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sibin Lounge</title>
</head>
<body>
    {% for drink in drinks %}
        {{ drink.drink_name }}<br>
        {{ drink.category_name }}<br>
        {{ drink.drink_ingredients }}<br>
        {{ drink.drink_method }}<br>
        {{ drink.drink_garnish }}<br>
        {{ drink.drink_image }}<br>
        {{ drink.social_link }}<br>
    {% endfor %}
</body>
</html>